openapi: 3.0.4
info:
  title: HTML to PDF
  description: >-
    HTML to PDF is a simple tool for converting HTML to PDF. It returns the PDF
    file generated from the HTML.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/htmltopdf:
    post:
      summary: Convert HTML to PDF
      description: Convert HTML content to a PDF file
      operationId: htmltopdf
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  marginLeft: 0.4in
                  marginRight: 0.4in
                  marginTop: 0.4in
                  marginBottom: 0.4in
                  landscape: false
                  pdfName: c064eacc-c29f-43a1-8375-a4b2562ea9d8.pdf
                  expires: 1766096665366
                  downloadURL: >-
                    https://storage.googleapis.com/apiverve-helpers.appspot.com/htmltopdf/c064eacc-c29f-43a1-8375-a4b2562ea9d8.pdf?GoogleAccessId=1089020767582-compute%40developer.gserviceaccount.com&Expires=1766096665&Signature=R%2Ft%2FXcR%2B8bXzCi5ztc01YeE%2Bbn1ZR%2BCyeoqgHpSB1z0LO3SetOSoWYVoon5IG4vUU9W30Rmw6owErorZal%2FHdgpmcPAYx3eTx5dPaD45tFSCgIfpRloi0DBLse%2Fzy4sb0k3XgweiHZUdZu3jKMi1HVDJa2j2ervAFfwDfxGHUDXH5wwFKqnv%2BIw%2Fu7MBsKMDCNMWYESE7Aicz6eL0Lxz8P6oazJX0akKlLDhkgKiIqF3VtjGIh36RzK4WGBpU36JFZ7SCZZGHNiHyt3%2FBdyjPRA8N1fky%2Bv%2BjR%2BTTlO9BpWcjImNJM6nvVfmICEfcbLqL2MvVldfPAFKyEv2zCrCLA%3D%3D
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                html:
                  type: string
                  description: >-
                    The HTML content to convert to PDF. Ensure that the HTML is
                    escaped properly
                marginTop:
                  type: number
                  description: The top margin of the PDF in inches (e.g., 0.5)
                marginRight:
                  type: number
                  description: The right margin of the PDF in inches (e.g., 0.5)
                marginBottom:
                  type: number
                  description: The bottom margin of the PDF in inches (e.g., 0.5)
                marginLeft:
                  type: number
                  description: The left margin of the PDF in inches (e.g., 0.5)
                landscape:
                  type: boolean
                  description: Set to true for landscape orientation
              required:
                - html
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
sampleRequest:
  marginTop: 0.4
  marginBottom: 0.4
  marginLeft: 0.4
  marginRight: 0.4
  landscape: false
  html: >-
    <!doctype html> <html>  <head> <title>This is the title of the
    webpage!</title> </head> <body> <p>This is an example paragraph. Anything in
    the <strong>body</strong> tag will appear on the page, just like this
    <strong>p</strong> tag and its contents.</p> </body> </html>
